{% extends "base.html" %}
{% block title %}Payments - CashTracker{% endblock %}
{% block content %}
<div class="login-form">
  <form id="payments_select_form"  action="/app_cashtracker/payments/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-12 control-label general-label login-label">Payments for:</label>
      <div class="col-sm-12">
        <select name="payments_for" id="payments_for" placeholder="Payments for..." class="form-control login-inputs">
          <option value="today">Today</option>
          <option value="week">Last week</option>
          <option value="month">Last month</option>
          <option value="year">Last year</option>
          <option value="beginning">From beginning</option>
        </select>
      </div>
    </div>
    <br>
    <br>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-12 control-label general-label login-label">Category:</label>
      <div class="col-sm-12">
        <select name="category" id="categories_select" placeholder="Category" class="form-control login-inputs">
          <option value="0">All</option>
          {% if categories %}
              {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
              {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>
    <br>
    <br>
  </form>
  <div class="form-group">
    <table id="payments_table">
      <thead>
        {% if payments_for == 'today' %}
          <th>Time</th>
        {% else %}
          <th>Date</th>
        {% endif %}
        <th>Category</th>
        <th>Value</th>
      </thead>
      <tbody>
        {% if payments %}
            {% for payment in payments %}
                <tr>
                  <td>{{ payment.date_time }}</td>
                  <td>{{ payment.category.name }}</td>
                  <td>{{ payment.value }}{{ payment.currency }}</td>
                </tr>
            {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  App.paymentsScript('{{ payments_for }}', '{{ payments_cat }}');
});
</script>
{% endblock %}