{% extends "base.html" %}
{% block title %}CashTracker{% endblock %}
{% block content %}


<!-- {% if users %}
    <ul>
    {% for user in users %}
        <li><a href="/cashtracker/user/{{ user.id }}">{{ user.first_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No users are available.</p>
{% endif %} -->
<script type="text/javascript">
  $(document).ready(function(){
    //alert(window.location);
    //if () {};
    window.location = "app_cashtracker/login";
  });
</script>
{% endblock %}