/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=12o1c0krFnVmemKnUrvD2oQJLCQ */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #7AB118 } /* Main Primary color */
.color-primary-1 { color: #7FA833 }
.color-primary-2 { color: #95CB33 }
.color-primary-3 { color: #76B800 }
.color-primary-4 { color: #9BF100 }

body {
/*    width: 540px;
    height: 960px;*/
    color: #000000;
    font-size: 2em;
    background-color: none !important;
}

#content_background {
  background-image: url('../images/money_background.jpg') !important;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  z-index: -10;
}

.main-logo {
    width: 100%;
}

.no-margins {
    margin: 0;
}

#header {
  background: #9BF100;
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;
  border: 1px solid #7AB118;
  padding: 2%;
  opacity: 0.7;
  z-index: 1000;
}

#footer {
  color: #7FA833;
  background: #9BF100;
  border: 1px solid #7AB118;
  position: fixed;
  bottom: 0;
  right: 0%;
  left: 0%;
  width: 100%;
  opacity: 0.7;
}

#content {
  padding: 5%;
  position: relative;
  padding-top: 10%;
  width: 100%;
  max-height: 83%;
  overflow-y: auto;
  padding-bottom: 10%;
}


.action-button {
  background: #95CB33;
  color: #000000;
  border: 3px solid #9BF100;
  font-weight: bold;
  border-radius: 30px;
  opacity: 0.8;
}

.action-button:hover {
    background: #7AB118;
    color: #9BF100;
}

.action-button.clicked {
    background: #7AB118;
    color: #9BF100;
}

i {
    background: #7AB118;
}

a {
    background: transparent;
    color: #7FA833;
}

label.general-label{
    color: #7FA833;
    width: 100%;
}

label #header {
    color: #000000;
}

input {
    border: 1px solid #7ab118 !important;
    background-color: rgb(250, 255, 189) !important;
}

select {
    border: 1px solid #7ab118 !important;
    background-color: rgb(250, 255, 189) !important;
}

textarea {
    border: 1px solid #7ab118 !important;
    background-color: rgb(250, 255, 189) !important;
}

ul{
    list-style-type: none;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #7AB118;
}

.center-text{
    text-align: center;
}

.logo-container {
  width: 50%;
  margin: auto;
}

.action-button-max-width {
  width: 100%;
  font-size: 2.5em;
  padding: 3%;
}

.login-inputs {
  font-size: 2.5em;
  line-height: 100%;
  height: 30%;
  border-radius: 15px;
}

.login-label {
  font-size: 2.5em;
}

.remember-me-container {
  font-size: 2em;
}

.checkbox-general{
  width: 30px;
  height: 85%;
  margin-top: -1px;
}

.form-group {
  padding-top: 20px;
  padding-bottom: 90px;
}

#menu_button {
  width: 8%;
  position: absolute;
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer; 
}

div#settings_menu {
  position: absolute;
  width: 100%;
  z-index: 100;
  background: #76B800;
  left: 0;
  top: 100%;
  opacity: 1;
  border-right: 1px solid #7AB118;
  font-size: 200%;
  top: 0%;
  padding: 4%;
  padding-top: 9%;
}
div#user_settings_info {
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 5%;
}
.settings_menu_button {
  width: 100%;
  height: 20%;
  border: 1px solid #7AB118;
  border-radius: 10px;
  margin-bottom: 4%;
  text-align: center;
  background: #9BF100;
  padding: 1%;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  display: block;
}

span#menu_button_holder {
  position: absolute;
  top: 0;
  height: 10%;
  z-index: 1001;
  width: 96%;
  padding: 1%;
}

.space {
  margin: 5%;
  padding: 7%;
}

span.one-row-two-buttons {
  width: 49%;
  position: relative;
  display: inline-block;
  font-size: 0.6em;
}

.subcategory-li {
  display: inline-block;
  width: 49%;
}

.main-label {
  font-size: 5em;
}

#home_button_holder {
  position: absolute;
  top: 0;
  height: 10%;
  z-index: 1001;
  width: 76%;
  padding: 1%;
  text-align: right;
  right: 0;
  padding-right: 8.5%;
}

#home_button {
  width: 10%;
  position: absolute;
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.add-new-button-holder{
  float: right;
  margin-top: 4%;
}

.delete_button {
  width: 13%;
  cursor: pointer;
}

.subcategory-label {
  width: 85% !important;
}

.subcategory-label-view {
  font-size: 1.8em;
}

table#payments_table {
  width: 100%;
  font-size: 1.8em;
  color: #7FA833;
}

#payments_table > tbody > tr > td {
  padding-bottom: 2%;
  padding-top: 2%;
}

.payment_value_holder{
  text-align: right;
  padding-right: 5%;
}

.action_buttons{
  width: 40%;
  cursor: pointer;
}

table#reports_table {
  width: 100%;
  font-size: 1.8em;
  color: #7FA833;
}

#reports_table > tbody > tr > td {
  padding-bottom: 2%;
  padding-top: 2%;
}

.modal_buttons{
  width: 49%;
  padding: 1%;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 90%;
    margin: 30px auto;
  }
}

.close_x_button{
  font-size: 3em;
  padding-right: 0;
  margin-top: 0;
  margin-right: 15px;
}